name: Release

on:
  push:
    tags:
      - "**"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: denoland/setup-deno@v1
      - run: npm install

      - name: Publish to npm
        run: |
          npm config set //registry.npmjs.org/:_authToken '${NPM_TOKEN}'
          npm publish --ignore-scripts
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Create Release
        uses: softprops/action-gh-release@v1
        env:
          HOOK: 0
        with:
          generate_release_notes: true
