name: Release

on:
  push:
    tags:
      - "**"

permissions:
  id-token: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: denoland/setup-deno@v2
        with:
          deno-version: 2.x

      - uses: actions/setup-node@v4
        with:
          node-version: "22"
          registry-url: "https://registry.npmjs.org"

      - run: npm ci

      - name: Publish to npm
        run: npm publish --ignore-scripts

      - name: Create Release
        uses: softprops/action-gh-release@v1
        env:
          HOOK: 0
        with:
          generate_release_notes: true
